.lesson-details-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 25px;
  background: #f9f9f6;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.lesson-details-title {
  text-align: center;
  color: #43A047;
  font-size: 26px;
  margin-bottom: 20px;
}

.lesson-details-text {
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.video-container {
  margin-top: 25px;
}

.video-container iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  background-color: #43A047;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background-color: #388E3C;
}

