.dashboard-title {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #43A047;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  max-width: 700px;
}
